<div class="depot_form">
<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>Enter Borrower Details</legend>
  <div class="field">
    <%= f.label :borrower, 'Borrwer Name:' %><br />
    <%= f.text_field :borrower %>
  </div>
  <div class="field">
    <%= f.label :address_b, 'Address:' %><br />
    <%= f.text_field :address_b %>
  </div>
  <div class="field">
    <%= f.label :city_b, 'City:' %><br />
    <%= f.text_field :city_b %>
  </div>
  <div class="field">
    <%= f.label :state_b, 'State:' %><br />
    <%= f.text_field :state_b %>
  </div>
  <div class="field">
    <%= f.label :zipcode_b, 'ZipCode:' %><br />
    <%= f.text_field :zipcode_b %>
  </div>
  <div class="field">
    <%= f.label :businessname, 'Bussiness Name:' %><br />
    <%= f.text_field :businessname %>
  </div>
  <div class="field">
    <%= f.label :businesstype, 'Business Type:' %><br />
    <%= f.text_field :businesstype %>
  </div>
  <div class="field">
    <%= f.label :ownership, 'Owner Ship%:' %><br />
    <%= f.text_field :ownership %>
  </div>
  <div class="field">
    <%= f.label :loanamount, 'Loan Amount:' %><br />
    <%= f.text_field :loanamount %>
  </div>
  <div class="field">
    <%= f.label :ltv, 'LTV:' %><br />
    <%= f.text_field :ltv %>
  </div>
  <div class="field">
    <%= f.label :transactiontype, 'Transaction Type:' %><br />
    <%= f.text_field :transactiontype %>
  </div>
  <div class="field">
    <%= f.label :address_g, 'Guarantor Address:' %><br />
    <%= f.text_field :address_g %>
  </div>
  <div class="field">
    <%= f.label :city_g, 'City:' %><br />
    <%= f.text_field :city_g %>
  </div>
  <div class="field">
    <%= f.label :state_g, 'State:' %><br />
    <%= f.text_field :state_g %>
  </div>
  <div class="field">
    <%= f.label :zipcode_g, 'ZipCode:' %><br />
    <%= f.text_field :zipcode_g %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
 </fieldset>
<% end %>
</div>
