<div class="depot_form">
<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>Enter Borrower Details</legend>
<table>
<tr> 
 <td>
  <div class="field">
    <%= f.label :borrower, ' Borrower Name:' %><br />
    <%= f.text_field :borrower, size: 60  %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= f.label :address_b, 'Address:' %><br />
    <%= f.text_field :address_b, size: 60 %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= f.label :city_b, 'City:' %><br />
    <%= f.text_field :city_b %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= f.label :state_b, 'State:' %><br />
    <%= f.text_field :state_b %>
  </div>
 </td>
 <td>
  <div class="field">
    <%= f.label :zipcode_b, 'Zip code:' %><br />
    <%= f.text_field :zipcode_b %>
  </div> 
 </td>
</tr>
<tr>
  <td>
  <div class="field">
    <%= f.label :businessname, 'Business Name:' %><br />
    <%= f.text_field :businessname, size: 60  %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :businesstype, 'Business Type:' %><br />
    <%= f.text_field :businesstype, size: 60 %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :ownership, 'Ownership%:' %><br />
    <%= f.text_field :ownership %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :loanamount, 'Loan Amount:' %><br />
    <%= f.text_field :loanamount %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :ltv, 'LTV:' %><br />
    <%= f.text_field :ltv %>
  </div>
  </td>
 </tr>
 <tr>
  <td>
  <div class="field">
    <%= f.label :transactiontype, 'Transaction Type:' %><br />
    <%= f.text_field :transactiontype, size: 60 %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :address_g, 'Property Address:' %><br />
    <%= f.text_field :address_g, size: 60  %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :city_g, 'City:' %><br />
    <%= f.text_field :city_g %>
  </div>
  </td> 
  <td>
  <div class="field">
    <%= f.label :state_g, 'State:' %><br />
    <%= f.text_field :state_g %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :zipcode_g, 'Zip Code:' %><br />
    <%= f.text_field :zipcode_g %>
  </div>
  </td>
 </tr>
</table>

<table>
 
 	<%= f.fields_for :subborrowers do |ff| %>
    <tr>
    <td>
		<div> Co Borrower Name: </div>
		<div><%= ff.text_field :name, size: 60 %>
	</td>
	<td>
		<div> Address: </div>
		<div><%= ff.text_field :address, size: 60 %>
	</td>
	<td>
		<div> City: </div>
		<div><%= ff.text_field :city %>
	</td>
	<td>
		<div> State: </div>
		<div><%= ff.text_field :state %>
	</td>
	<td>
		<div> Zip code: </div>
		<div><%= ff.text_field :zip %>
	</td>
	</tr>
 	<% end %>
 
</table>



 <h4>Loan Details</h4>
<table cellspacing="20">
  <tr>
	<td>
  	<%= f.fields_for :loi do |ff| %>   
    	<div> LOI Issued Date:</div> 
    	<div><%= ff.text_field :issued_date %></div>
	 	<div> LOI Accepted Date: </div>
	 	<div> <%= ff.text_field :accepted_date %></div>  
  	<% end %> 
    </td>
    <td>
  	<%= f.fields_for :appraisal do |ff| %>
    	<div>Appraisal Ordered Date:</div>
    	<div><%= ff.text_field :ordered_date %></div>
    	<div>Appraisal received Date:</div>
    	<div><%= ff.text_field :received_date %></div>
  	<% end %>
   </td>
   <td>
  	<%= f.fields_for :environmental do |ff| %>
    	<div>Env Ordered Date:</div>
    	<div><%= ff.text_field :ordered_date %>
		<div>Env Received Date: </div>
		<div><%= ff.text_field :received_date %>
  	<% end %>
    </td>
  
  	<td>
  	<%= f.fields_for :loandetail do |ff| %>
  		<div>Deposit Made Date:</div>
    	<div><%= ff.text_field :deposit_date %>
		<div>Docs Ordered Date: </div>
		<div><%= ff.text_field :docs_ordered_date %>
	</td>
	<td>
		<div>Funded Date: </div>
		<div><%= ff.text_field :funded_date %>
		<div>Name of Broker: </div>
		<div><%= ff.text_field :broker %>
	</td>
   </tr>
   <tr>
	<td>
	<div>Commission: </div>
	<div><%= ff.text_field :commission %>
	</td>	
  <% end %>
 </tr>
</table>

<%= f.fields_for :assets do |ff| %>
<%= ff.select :docname, [['Tax Return (last yr)','tax return last yr'],['Tax Return (prev yr)','tax return prev yr'],
    ['Tax Return (prev 2 yrs)','tax return prev 2 yrs'],['Guarantor Tax Return (last yr)','guarantor tax return (last yr)'],
	['Guarantor Tax Return (prev yr)','guarantor tax return (prev yr)'],['Guarantor Tax Return (Prev 2 yrs)','guarantor tax return (prev 2 yrs)'],
	['Financial Statement within 90 Days','financial statement within 90 days'],['Affiliated Tax Return (last yr)','affiliated tax return (last yr)'],
	['Affiliated Financial Statement 90 days','affiliated financial statement 90 days'],['Affiliated Tax Return (prev yr)','affiliated tax return (prev yr)'],
	['Affiliated Tax Return (2 yrs)','affiliated tax return (2 yrs)'],['Projection', 'projection'],['Resume','resume'],['SBA 912 - Statement','sba 912 - statement'],
	['SBA 413 - Personal Financial Statement','sba 413 - personal financial statement'],['T4506 - IRS Transcript','T4506 - IRS transcript'],
	['INS Form G845','ins form g845'],['Purchase & Sales Agreement','purchase & sales agreement'],['Lease Agreement','lease agreement'],
	['Business Fact Sheet','business fact sheet'],['Business Debt Schedule','business debt schedule'],['Corporate Document','corporate document'],
	['Equipment List','equipment list'],['Franchise/Gas Supplier Agreement','franchise/gas supplier agreement'],['Personal Credit Report','personal credit report'],
	['Monthly ADR/Monthly Gallon & Inside Report','monthly adr/monthly gallon & inside report'],['Bank Statement','bank statement'],['Other','other']]%>
<%= ff.file_field :asset %>
<% end %>

 <br />
<br />
<div class="actions">
    <%= f.submit %>
  </div>
 </fieldset>
 <% end %>

</div>
