<h1>Listing SBA customers</h1>

<table border="1">
  <tr>
   <th>Borrower Name</th>
   <th>Business Name</th>
   <th>Business Type</th>
   <th>Ownership %</th>
   <th>Loan Amount</th>
   <th>LTV</th>
   <th>Transaction Type</th>
   <th>LOI Issued Date</th>
   <th>LOI Accepted Date</th>
   <th>Action</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.borrower %></td>
    
    <td><%= customer.businessname %></td>
    <td><%= customer.businesstype %></td>
    <td><%= customer.ownership %></td>
    <td><%= customer.loanamount %></td>
    <td><%= customer.ltv %></td>
    <td><%= customer.transactiontype %></td>
    
    <td><%= customer.loi.issued_date %>
	<td><%= customer.loi.accepted_date %>
    <td><%= link_to 'Show', customer %> | 
    <%= link_to 'Edit', edit_customer_path(customer) %> | 
    <%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
