<h1>Listing SBA customers</h1>

<table>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.borrower %></td>
    
    <td><%= customer.businessname %></td>
    <td><%= customer.businesstype %></td>
    <td><%= customer.ownership %></td>
    <td><%= customer.loanamount %></td>
    <td><%= customer.ltv %></td>
    <td><%= customer.transactiontype %></td>
    
    <td><%= customer.loi.issued_date %>
	<td><%= customer.loi.accepted_date %>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
