<p id="notice"><%= notice %></p>

<p>
  <b>Borrower:</b>
  <%= @customer.borrower %>
</p>

<p>
  <b>Address b:</b>
  <%= @customer.address_b %>
</p>

<p>
  <b>City b:</b>
  <%= @customer.city_b %>
</p>

<p>
  <b>State b:</b>
  <%= @customer.state_b %>
</p>

<p>
  <b>Zipcode b:</b>
  <%= @customer.zipcode_b %>
</p>

<p>
  <b>Businessname:</b>
  <%= @customer.businessname %>
</p>

<p>
  <b>Businesstype:</b>
  <%= @customer.businesstype %>
</p>

<p>
  <b>Ownership:</b>
  <%= @customer.ownership %>
</p>

<p>
  <b>Loanamount:</b>
  <%= @customer.loanamount %>
</p>

<p>
  <b>Ltv:</b>
  <%= @customer.ltv %>
</p>

<p>
  <b>Transactiontype:</b>
  <%= @customer.transactiontype %>
</p>

<p>
  <b>Address g:</b>
  <%= @customer.address_g %>
</p>

<p>
  <b>City g:</b>
  <%= @customer.city_g %>
</p>

<p>
  <b>State g:</b>
  <%= @customer.state_g %>
</p>

<p>
  <b>Zipcode g:</b>
  <%= @customer.zipcode_g %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
