<p id="notice"><%= notice %></p>
<h2>Loan Details</h2>
<p>
  <b>Borrower:</b>
  <%= @customer.borrower %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address_b %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city_b %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state_b %>
</p>

<p>
  <b>Zip code:</b>
  <%= @customer.zipcode_b %>
</p>

<p>
  <b>Business Name:</b>
  <%= @customer.businessname %>
</p>

<p>
  <b>Business Type:</b>
  <%= @customer.businesstype %>
</p>

<p>
  <b>Ownership %:</b>
  <%= @customer.ownership %>
</p>

<p>
  <b>Loan amount:</b>
  <%= @customer.loanamount %>
</p>

<p>
  <b>LTV:</b>
  <%= @customer.ltv %>
</p>

<p>
  <b>Transaction Type:</b>
  <%= @customer.transactiontype %>
</p>

<p>
  <b>Guarantor Address:</b>
  <%= @customer.address_g %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city_g %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state_g %>
</p>

<p>
  <b>Zip code:</b>
  <%= @customer.zipcode_g %>
</p>

<p>
  <b>LOI Issued Date:</b>
  <%= @customer.loi.issued_date %>
</p>

<p>
  <b>LOI Accepted Date:</b>
  <%= @customer.loi.accepted_date %>
</p>

<p>
  <b>Appraisal Ordered Date:</b>
  <%= @customer.appraisal.ordered_date %>
</p>

<p>
  <b>Appraisal Received Date:</b>
  <%= @customer.appraisal.received_date %>
</p>

<p>
  <b>Environmental Ordered Date:</b>
  <%= @customer.environmental.ordered_date %>
</p>

<p>
  <b>Environmental Received Date:</b>
  <%= @customer.environmental.received_date %>
</p>

<p>
  <b>Deposit Made Date:</b>
  <%= @customer.loandetail.deposit_date %>
</p>

<p>
  <b>Docs Ordered Date:</b>
  <%= @customer.loandetail.docs_ordered_date %>
</p>

<p>
  <b>Funded Date:</b>
  <%= @customer.loandetail.funded_date %>
</p>

<p>
  <b>Name of Broker:</b>
  <%= @customer.loandetail.broker %>
</p>

<p>
  <b>Commission:</b>
  <%= @customer.loandetail.commission %>
</p>

<h4>Uploaded Documents:</h4>
<table>
<% @customer.assets.each do |asset|%>
   <tr>
	<% file_name = asset.asset_file_name %>
	<% if !file_name.nil?%>
		<td>=> <%= file_name %></td>
		<td></td>
		<td><%= link_to "View File", asset.asset.url %></td>
	<% end %> 
	</tr>		
<% end %>
</table>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
