<p id="notice"><%= notice %></p>

<p>
  <b>Borrower:</b>
  <%= @customer.borrower %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address_b %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city_b %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state_b %>
</p>

<p>
  <b>Zip code:</b>
  <%= @customer.zipcode_b %>
</p>

<p>
  <b>Business Name:</b>
  <%= @customer.businessname %>
</p>

<p>
  <b>Business Type:</b>
  <%= @customer.businesstype %>
</p>

<p>
  <b>Ownership %:</b>
  <%= @customer.ownership %>
</p>

<p>
  <b>Loan amount:</b>
  <%= @customer.loanamount %>
</p>

<p>
  <b>LTV:</b>
  <%= @customer.ltv %>
</p>

<p>
  <b>Transaction Type:</b>
  <%= @customer.transactiontype %>
</p>

<p>
  <b>Guarantor Address:</b>
  <%= @customer.address_g %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city_g %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state_g %>
</p>

<p>
  <b>Zip code:</b>
  <%= @customer.zipcode_g %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
